.con_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.con_left_box {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.con_right_box {
    width: 288px;
    margin-left: 16px;
    padding-top: 16px;
}

#type_box {
    width: 100%;
    line-height: 40px;
    margin-top: 16px;
    border-bottom: 1px solid #ccc;
}
#type_box li {
    display: inline-block;
    padding: 0 12px;
}
.type_light {
    color: red;
}
