/* 首页样式 */
.index {
    width: 100%;
    min-height: calc(100% + 80px);
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 64px;
}
main {
    flex: 1;
    min-height: calc(100% + 80px + 62px);
    width: 100%;
    display: flex;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 80px;
    background-color: rgba(84, 83, 83, 0.947);
}
@media screen and (max-width: 767px) {
    .container,
    .tab_nav {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media screen and (min-width: 768px) {
    .container,
    .tab_nav {
        width: 768px;
    }
}
@media screen and (min-width: 992px) {
    .container,
    .tab_nav {
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container,
    .tab_nav {
        width: 1140px;
    }
}

/* ---- */
.txt_icon {
    width: 10%;
    margin-left: 95%;
    font-size: 25px;
    color: #ff0064;
}
.ant-drawer-content-wrapper {
    margin-top: 64px;
}
#content_mask {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 0px;
}
#content_mask li {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
#content_mask li a:hover {
    color: #ff0064;
}
#content_mask li span:hover {
    color: #ff0064;
}
.ant-drawer-body {
    padding: 0px;
}
.scrollTo_mask {
    margin-top: 0px;
}

/*  */
.top_nav_box {
    width: 100%;
    height: 100%;
}
.container,
.tab_nav {
    margin: 0 auto;
}
.tab_nav {
    display: flex;
    justify-content: flex-start;
}
.logo_box {
    width: 64px;
    height: 64px;
}
.footer_icon {
    width: 100%;
    height: 100%;
    background-color: #292525;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #000;
    background: rgba(193, 189, 189);
}
.icons a {
    color: inherit;
}
.icons:hover {
    color: #eee;
    background: #000;
}

.TapOne {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(168, 167, 167, 0.5);
}

.photo {
    width: 100%;
    height: 100%;
}
.tab_title_txt .active {
    color: #ff0064;
}
.txt_box {
    flex: 1;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.tab_title_txt {
    display: flex;
}
.tab_title_txt > a {
    margin: 0 12px;
}
.tab_title_icon {
    display: flex;
    font-size: 18px;
    align-items: center;
}
.tab_title_icon * {
    margin: 0 12px;
}
.con_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.con_left_box {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.con_right_box {
    width: 288px;
    margin-left: 16px;
    padding-top: 16px;
}
