* {
    margin: 0;
    padding: 0;
    list-style: none;
}

* a {
    color: #000;
}

#rec_k_box {
    width: 100%;
    padding: 0 8px;
}
#rec_k_box .TitleRight {
    font-weight: 800;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    line-height: 40px;
    padding-left: 10px;
}
#rec_k_box .itemUl {
    padding-left: 10px;
    width: 100%;
    cursor: pointer;
    margin-left: 5px;
}
#rec_k_box .itemUl li {
    width: 100%;
    line-height: 30px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

#rec_k_box .itemUl .itemLi {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
#rec_k_box .itemUl li .Right_listTime {
    color: #ccc;
    margin-left: 15px;
}
#rec_k_box .itemUl li:hover span,
#rec_k_box .itemUl .Right_listTime {
    color: #ff0064;
    transition: all 0.8s;
}

@keyframes example1 {
    0% {
        transform: translate(-60px);
        opacity: 0;
    }
    50% {
        transform: translate(-30px);
        opacity: 0.5;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes example2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.8;
    }
    55% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes example3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
