* {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
        color: #000;
    }
}

#rec_k_box {
    width: 100%;
    .TitleRight {
        font-weight: 800;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        line-height: 40px;
        padding-left: 10px;
    }
    .itemUl {
        li {
            line-height: 30px;
            margin-top: 8px;
            padding-left: 10px;
            width: 100%;
            span {
                line-height: 30px;
                margin-top: 8px;

                .Right_listTime {
                    color: #ccc;
                    margin-left: 15px;
                }
            }
            span:hover span,
            .Right_listTime {
                color: #ff0064;
                transition: all 0.5s;
            }
        }
    }
}
