.Archives {
    width: 100%;
    height: 100%;
}

.Archives_top {
    width: 100%;
    height: 100px;
}

.Archives_top h3 {
    font-size: 24px;
    text-align: center;
    color: #ff0064;
    line-height: 25px;
    margin-top: 20px;
}

.Archives_top p {
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.Archives_top p span {
    color: #ff0064;
    font-size: 20px;
}

.Archives_content {
    width: 100%;
    padding: 15px;
}

.Archives_content_item {
    margin-left: 20px;
}

.Archives_content_item ul {
    width: 100%;
    height: 100%;
    margin-left: 55px;
}

.Archives_content_item ul li {
    line-height: 40px;
    list-style: disc;
    cursor: pointer;
}

.Archives_content_item ul li:hover {
    color: #ff0064;
    transition: all 0.8s;
}

/* .Archives_content_item ul li :hover span {
    color: #FF0064;
} */

.Archives_content_item_time {
    font-size: 12px;
}

.Archives_content_item_title {
    font-size: 16px;
    margin-left: 20px;
    font-weight: bold;
}
.con_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.con_left_box {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 16px;
}
.con_right_box {
    width: 288px;
    margin-left: 16px;
    padding-top: 16px;
}
