.archicve {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.article_box {
    width: 100%;
    height: 100%;
}
.Archives_top {
    border-bottom: 1px solid #ccc;
}

#con_left_box {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.con_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.con_right_box {
    width: 288px;
    margin-left: 16px;
    padding-top: 16px;
}
