.con_left_box {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 16px;
}
.con_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.con_right_box {
    width: 288px;
    margin-left: 16px;
    padding-top: 16px;
}
