#tagRelativeArticles_box {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 26.5px;
    margin-bottom: 16px;
}
#tagRelativeArticles_box p {
    font-size: 22px;
}
#tagRelativeArticles_box p:first-child {
    margin-top: 3px;
}
#tagRelativeArticles_box p span {
    color: rgb(255, 110, 134);
}
#tagRelativeArticles_nav {
    margin-bottom: 16px;
}
#tagRelativeArticles_nav .nav_title {
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
#tagRelativeArticles_nav #nav_con {
    padding: 16px;
}
#tagRelativeArticles_nav #nav_con span {
    padding: 2px 7px;
    margin: 0 7px 0 0;
    display: inline-block;
    border: 1px solid #ccc;
}
#tagRelativeArticles_nav #nav_con span.on {
    color: rgb(255, 110, 134);
    border: 1px solid rgb(255, 110, 134);
}
#tagRelativeArticles_con {
    padding: 16px;
}
#tagRelativeArticles_con_item {
    padding-top: 12px;
}
#tagRelativeArticles_con_item dl {
    height: 100px;
    display: flex;
}
#tagRelativeArticles_con_item dl dt img {
    height: 100%;
    width: auto;
}
#tagRelativeArticles_con_item dl dd {
    height: 100%;
    width: auto;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#tagRelativeArticles_con_item dl dd p {
    margin-bottom: 0;
}
.tagRelativeArticles_icon {
    display: flex;
    justify-content: space-around;
}
.tagRelativeArticles_icon span {
    margin: 0 3px;
}
