.comment_content {
    display: flex;
    padding: 8px;
}

.comment_content span {
    display: inline-block;
    background: #cccccc;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
}

.comment_footer {
    padding: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.comment_footer Button {
    padding-left: -3px;
    padding-right: -3px;
}
