.know_con_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ant-breadcrumb {
    line-height: 22px;
    margin-top: 16px;
    padding: 3px;
}
.ant-breadcrumb ol li {
    width: 100%;
    background: none;
    line-height: 22px;
    border-bottom: none;
}
.ant-breadcrumb p {
    width: 100%;
    margin-bottom: 0;
    padding: 0 8px;
}
#knowdetail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#knowdetail > h3 {
    margin: 0;
    padding: 0 8px;
}
#knowdetail #div {
    flex: 1;
    padding: 12.8px;
}
#knowdetail #div > img {
    width: 100%;
    height: auto;
}
#knowdetail #div > h3 {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
    line-height: 22px;
    text-align: center;
}
#knowdetail #div > p {
    width: 100%;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 12.8px;
}
#knowdetail #div .btn_icon_box {
    margin: 0 auto;
    margin-top: 6.4px;
    display: flex;
    justify-content: center;
}
.con_right_box {
    width: 320px;
    margin-left: 16px;
    padding-top: 16px;
}
.con_right_box h3 {
    line-height: 22px;
    font-size: 16px;
}
.recommendToReading_box .ulright {
    width: 100%;
}
.recommendToReading_box .ulright > p {
    line-height: 24.5px;
}
.recommendToReading_box .ulright li dl {
    margin-top: 12px;
    display: flex;
    width: 288px;
}
.recommendToReading_box .ulright li dl dt {
    padding-right: 12px;
    height: 100px;
    width: 190px;
}
.recommendToReading_box .ulright li dl dd {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.recommendToReading_box .ulright li dl dt img {
    width: 100%;
    height: 100%;
}
.ulright li p h3:hover {
    color: red;
}
.ulright li dl dd p {
    margin-top: 50px;
    display: flex;
}
.ulright p {
    display: flex;
}
.ulright p span {
    color: #ccc;
}

.modal img {
    width: 470px;
    height: 200px;
    text-align: center;
}
.modal h2 {
    line-height: 60px;
    font-weight: 900;
}
.modal p {
    margin-top: -15px;
}
ul li img {
    width: 100%;
    height: 100%;
}
