.modal img {
    width: 470px;
    height: 200px;
    text-align: center;
}
.modal h2 {
    line-height: 60px;
    font-weight: 900;
}
.modal .spans {
    display: inline-block;
}
.modal p {
    margin-top: -15px;
}
