.swiper_box {
    width: 100%;
    padding: 5px;
}

.swiper_content {
    width: 100%;
    position: relative;
}

.swiper_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.swiper_mask div {
    margin: 120px;
}

.swiper_mask div h2 {
    color: #fff;
    text-align: center;
}

.swiper_mask div p {
    color: #fff;
    text-align: center;
}
