.rightList {
    margin-top: 20px;
    height: 100%;
}

.rightList .ULs-itms {
    margin: 15px;
    font-weight: 500;
    overflow: hidden;
    height: 100%;
    padding-bottom: 20px;
}

.rightList .ULs-itms li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.rightList .ULs-itms li:hover{
  color: #ff0064;
}

.Titletn {
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
}

.Titletn .titleC {
    margin-left: 15px;
    font-weight: 800;
    padding-bottom: 10px;
}
.rightList .ULs-itms .index:hover {
    color: #ff0064;
    transition: all 0.8s;
}
@keyframes example1 {
    0% {
        transform: translate(-60px);
        opacity: 0;
    }
    50% {
        transform: translate(-30px);
        opacity: 0.5;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes example2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.8;
    }
    55% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes example3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
