@import '~antd/dist/antd.css';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    --primary-color: #ff0064;
    --sun-color: #eec413;
    --link-color: #4299e1;
    --border-radius: 2px;
    --bg: #fff;
    --bg-second: #fff;
    --rgb-bg-second: 255, 255, 255;
    --bg-body: #e7eaee;
    --bg-footer: #292525;
    --bg-code: #f8f8f8;
    --blockquote-color: #fff;
    --main-text-color: rgba(0, 0, 0, 0.85);
    --second-text-color: rgba(0, 0, 0, 0.65);
    --disable-text-color: rgba(0, 0, 0, 0.35);
    --border-color: #f0f2f7;
    --box-shadow: 0 1px 3px rgb(18 18 18/10%);
    --scrollbar-bg: #dadada;
    --comment-editor-border-color: #d9d9d9;
    --comment-editor-disable-bg: #f5f5f5;
}

.recommendToReading_box {
    width: 100%;
    height: 100%;
}

.tips_box {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    background-color: rgba(red, green, blue, alpha);
    padding: 10px;
}

.Tips_box2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: red;
}

.category_box {
    width: 100%;
}
element.style {
    width: 100%;
}
