#MyTagItem {
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#MyTagItem :first-child span {
    color: #ff0064;
    font-size: 24px;
    font-weight: 500;
}

#MyTagItem :last-child span {
    color: #ff0064;
    font-size: 18px;
    font-weight: 400;
}
