body,
.con_right_box,
.HomeMain,
.container {
    background: var(--background-color-b);
    color: var(--note-Text-color);
    transition: all 0.8s;
}
.h3,
.Myswiper,
.headerBox,
.type_box,
.tag_box,
.RIght_list_item,
.recommendToReading_box,
.article_box,
.con_left_box,
.detail_box,
.myitems,
#markdown {
    background: var(--background-color-a);
    color: var(--note-Text-color);
    transition: all 0.8s;
}
.nav_con {
    color: var(--note-Text-color-a);
}

#Comments_com {
    color: var(--note-Text-color);
    background: var(--background-color-a);
}

