:root.light{
    --background-color-b:#282C35;
    --note-Text-color:#fff;
    --background-color-a:#363C48;
    --note-Text-color-a:#282C35;

}

:root.dark{
    --background-color-b:#E7EAEE;
    --note-Text-color:#282C35;
    --background-color-a:#fff;
    --note-Text-color-a:#282C35;

}
