.search {
    width: 100%;
    height: 100%;
}
.box {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-left: 27%;
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
}
.box_1 {
    width: 70%;
    height: 100px;
    line-height: 100px;
}
.box_1 h2 {
    font-weight: 700;
}
.box_2 {
    width: 5%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box_3 {
    width: 75%;
}
.search_list {
    cursor: pointer;
    line-height: 40px;
}
.search_list li {
    width: 75%;
    height: 50px;
    line-height: 50px;
}
.search_list li:hover {
    color: #000;
    background: rgb(240, 236, 236);
}
