#knowitem {
    width: 100%;
    height: 100%;
}
#knowitem ul {
    width: 100%;
    height: 100%;
}
#knowitem ul li {
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
#knowitem ul li img {
    width: 200px;
    height: 100px;
}
.con_left_box {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 16px;
}
.con_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.con_right_box {
    width: 288px;
    margin-left: 16px;
    padding-top: 16px;
}
.con_left_box {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 16px;
}

#knowitem ul li :hover b {
    color: red;
}
#knowitem ul li dl {
    display: flex;
    margin-left: 16px;
}
#knowitem ul li dl dd {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    align-items: flex-start;
    justify-content: space-between;
}
.know_txt_box {
    display: flex;
    margin-left: 16px;
    flex-direction: column;
    line-height: 30px;
}
.know_nav_title {
    width: 100%;
    padding: 12px;
}
.know_nav_title b {
    font-size: 18px;
}
.know_nav_title span {
    margin-left: 20px;
    color: #999;
    font-size: 15px;
}
.know_nav_title dl {
    width: 100%;
    margin-left: 10px;
}
.know_nav_title dl dt {
    width: 210px;
    height: 140px;
    line-height: 140px;
}
.know_nav_title dl dd {
    height: 120px;
    display: flex;
    flex-direction: column;
}
.know_nav_title dl dd div {
    height: 65px;
    line-height: 85px;
}

.modal img {
    width: 470px;
    height: 200px;
    text-align: center;
}
.modal h2 {
    line-height: 60px;
    font-weight: 900;
}
.modal p {
    margin-top: -15px;
    align-items: center;
}
.banban span {
    margin-left: 3px;
}
