.dateils {
    width: 100%;
    height: 100%;
}

/* .article_box_html {
    padding: 10px;

} */
.dateils_top_content h1 {
    text-align: center;
}
.ali_pay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, .5);
    z-index: 99;
}
.dateils_top_content p {
    font-style: oblique;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
.archicve {
    width: 80%;
}
.article_box {
    width: 100%;
}
.dateils_top_content {
    border-bottom: 1px solid #ccc;
}

.article_box_html {
    margin: 0 auto;
}
#dateils_top {
    width: 100%;
    padding: 15px 15px 25px 15px;
}
.con_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#detail_box {
    width: 100%;
    height: 100%;
    padding: 16px;
}
.ant-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dateils_top_content {
    width: 100%;
    margin: 0;
}
.dateils_top_content h1 {
    text-align: center;
}

.dateils_top_content p {
    font-style: oblique;
    text-align: center;
}

/* 版权信息 */
#copyright {
    width: 100%;
    height: 80px;
    margin-top: -10px;
    /* border-top: dashed 1px #ccc; */
}

#copyright p {
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}

/* 评论 */
.comment {
    width: 100%;
}

.comment p {
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    font-weight: 200;
}

/* 推荐阅读版 */
.details_recommend {
    width: 100%;
    padding-top: 40px;
}

.details_recommend p {
    text-align: center;
    line-height: 34px;
    font-weight: 600;
    font-size: 20px;
}

/* 右边 目录 */
.detaisl_tips_box_content div {
    height: 35px;
}

.detaisl_tips_box_content div:hover {
    color: #ff0064;
}
.markdown {
    margin-top: -35px;
    padding: 10px;
}

/* 背景颜色  */
.dateils_top,
.markdown,
.copyright,
.comment_box,
.details_recommend_cntent {
    background-color: #fff;
}
.pagination {
    text-align: center;
}
.active {
    color: #ff0064;
}

@media screen and (max-width: 1024px) {
    .footer_btn {
        width: 100%;
        position: fixed;
        z-index: 10;
        left: 0px;
    }
}
.footer_btn {
    top: auto;
    bottom: 0;
    padding-right: 0;
    width: 100vw;
    height: 52px;
    height: calc(52px + constant(safe-area-inset-bottom));
    height: calc(52px + env(safe-area-inset-bottom));
    background-color: var(--bg-second);
    border-top: 1px solid var(--border-color);
    transform: translate(0);
    transition: all 0.2s;
    display: flex;
    flex-wrap: nowrap;
    background: #eee;
}
/* footer_btn样式 */
.btn {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
