.style_style_myitems__MW7Nm__MW7Nm {
    width: 100%;
    height: 100%;
}
.style_myitems__MW7Nm {
    width: 100%;
    height: 100%;
}

#my_item_box ul {
    width: 100%;
    height: 100%;
}
#my_item_box ul li {
    width: 100%;
    padding: 0 16px;
    cursor: pointer;
    border-bottom: 1px solid rgba(168, 167, 167, 0.5);
}
#my_item_box ul li img {
    width: 200px;
    height: 100px;
}

#my_item_box ul li :hover b {
    color: #ff0064;
}

.nav_title {
    width: 100%;
    line-height: 42px;
}
.nav_title b {
    font-size: 18px;
}
.nav_title span {
    margin-left: 20px;
    color: #999;
    font-size: 15px;
}

#my_item_box ul li dl {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#my_item_box ul li dl dt {
    width: 210px;
}
#my_item_box ul li dl dd {
    width: 100%;
    margin-left: 3px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
.banban span {
    margin-left: 3px;
}
.msg {
    margin-left: 15px;
}
.msg .spans {
    display: inline-block;
}

.txt_box {
    min-height: 30px;
}

.modal img {
    width: 470px;
    height: 200px;
    text-align: center;
}

.modal h2 {
    line-height: 60px;
    font-weight: 900;
}

.modal p {
    margin-top: -15px;
}
