.position {
    position: fixed;
    z-index: 10;
    top: 30vh;
    transform: translateX(-100%);
    padding-right: 20px;
}

.position div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
    border-radius: 50%;
    background-color: rgba(160, 160, 160, 0.3);
}
