.Comments_com {
    width: 100%;
    padding: 15px;
}
.Comments_com_box {
    padding: 16px;
    margin: 16px 0 0 0px;
    background-color: #fff;
}

.portrait {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #faad14;
    line-height: 32px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.name {
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
}
.Comments_main {
    padding: 12px 0 12px 40px;
}
.Comments_footer {
    padding: 0 0 0 40px;
}
.Comments_footer span {
    margin-right: 10px;
}
.reply:hover {
    color: #ff0064;
}
