
#tag_box{
    margin-top: 20px;
}
#tag_box li{
    line-height: 50px;
    font-weight: 800;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
}
.span_boxone{
    padding: 10px 10px;

}
.span_boxone span {
    display: inline-block;
    padding: 3px;
    margin-top: 8px;
    border: 1px solid #ccc;
    margin-left:8px;
    
}
.span_boxone span:hover{
    color: #ff0064;
    border: 1px solid #ff0064;
    transition: all 0.8s;
}
